# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# .NET build output
# =========================
bin/
obj/

# =========================
# Build / publish output
# =========================
[Bb]uild/
[Dd]ebug/
[Rr]elease/
publish/

# =========================
# NuGet
# =========================
packages/
*.nupkg
*.snupkg

# =========================
# Logs
# =========================
*.log

# =========================
# JetBrains Rider
# =========================
.idea/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini